body{

 background: -moz-linear-gradient(-45deg,#4e14d4 60%,#7e63f8 20% #0952f0 20%)

}

h2{
    color: rgb(39, 34, 34);
    text-align: center;
    border-style: solid;
    border-width:10px;
    border-color:rgb(21, 28, 41);
    font-size: 30%;
   
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 180%;
    color: black;
}

p{
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(19, 19, 22);
}


section{
     margin-bottom: 20px;
     padding-bottom: 10%;
     text-align: center;
     margin-left: -13px;
     margin-right: -13px;
     
   }

footer{
    padding-bottom: 5%;
    text-align: center;
    font-family: fantasy;
    margin-left: -13px;
    margin-right: -20px;
    margin-top: -20px;
    }


ul{
    display: flex;
    justify-content: space-between;

}

a{
    font-style: oblique;
    font-family: cursive;
    text-align: center;
}

h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: underline;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    padding-top: 200px;
}
